<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CamadaApresentacao.Properties.Settings.dbtesteConnectionString"
            connectionString="Data Source=PANDANB;Initial Catalog=dbteste;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CamadaApresentacao.Properties.Settings.dbvendasConnectionString"
            connectionString="Data Source=PANDANB;Initial Catalog=dbvendas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>